/* sticky */
.sticky {
    position: fixed;
    top: 0;
}

.title-area h1 a {
    color: #5899d0;
}

@font-face {
    font-family: "rei";
    src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20130423"); /* IE9 */
    src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20130423#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://i.alipayobjects.com/common/fonts/rei.woff?20130423") format("woff"), /* chrome 6+、firefox 3.6+、Safari5.1+、Opera 11+ */
    url("https://i.alipayobjects.com/common/fonts/rei.ttf?20130423")  format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("https://i.alipayobjects.com/common/fonts/rei.svg?20130423#rei") format("svg"); /* iOS 4.1- */
}
.iconfont {
    font-family:"rei";
    font-style: normal;
    font-weight: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}
.side-area dt{padding:20px 15px 5px;font-size: 14px;}
.side-area{border-right: 1px solid #eee;}

#content{
    font-size: 14px;
}
#content h2 {
    margin-top: 40px;
    padding-bottom: 4px;
    font-size: 18px;
    font-family: "Marmelad", sans-serif;
}
#content h3 {
    margin-top: 40px;
    margin-bottom:0px;
    padding-bottom: 4px;
    font-size: 16px;
    font-family: "Marmelad", sans-serif;
}

#content pre {
    margin: 6px 0;
    border: 1px solid #eee;
    padding: 6px 10px;
    overflow: auto;
    border-radius: 2px;
    background-color: #f8f8f9;
    line-height: 19px;
    font-size: 13px;
    white-space: pre;
}
#content code {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.75);
    background-color: #fee9cc;
    padding: 1px 3px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
#content pre code, #content .highlight code {
    color: #5D6A6A;
    background-color: transparent;
    margin: auto;
    padding: 0;
}
#content blockquote {
    border-left: 0.4em solid #ddd;
    color: #777;
    margin: 15px 0;
    padding: 0 15px;
}
#content blockquote p {
    color: #777;
}
#footer-wrapper {
    clear: both;
    color: #9C9C9C;
    text-shadow: 0 1px 0 #FFF;
    font-family: Georgia,'Xin Gothic','PT Sans','Hiragino Sans GB','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    *width: 1040px;
    padding: 10px 0;
    text-align: right;
}
#footer-wrapper a {
    color: #9C9C9C;
    text-decoration: none;
}
#footer-wrapper iframe {
    position: relative;
    top: 3px;
}

/* other */
#content .doc-api {
    color: #784942;
}
#content .doc-api em, #content .doc-api code {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 14px;
    margin-left: 4px;
    color: #999;
    background: transparent;
    font-style: italic;
}
#content .md-iframe {
    position: relative;
    width: 100%;
    height:480px;

    margin:20px 0px;
    
}
#content .md-iframe iframe {
    width: 320px;
    height:100%;
    display: inline-block;
    border:1px solid #999;
}
#content .md-iframe .qrcode {
    display: inline-block;
    margin-left:50px;
}
#content .md-iframe .new-window {
    position: absolute;
    top: 30px;
    right: -40px;
    font-size: 12px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#content .highlight {
    background-color: transparent;
    padding-top: 1px;
    position: relative;
}
#content .collapse pre {
    overflow: hidden;
    height: 60px;
}
#content .highlight .code-toggle {
    position: absolute;
    top: -10px;
    right: 2px;
    font-size: 12px;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    color: #fff;
    line-height: 1;
}

.entry-content h1 a.anchor,
.entry-content h2 a.anchor,
.entry-content h3 a.anchor,
.entry-content h4 a.anchor,
.entry-content h5 a.anchor,
.entry-content h6 a.anchor {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    visibility: hidden;
}
.entry-content h1:hover a.anchor,
.entry-content h2:hover a.anchor,
.entry-content h3:hover a.anchor,
.entry-content h4:hover a.anchor,
.entry-content h5:hover a.anchor,
.entry-content h6:hover a.anchor {
    visibility: visible;
}

.entry-content  table th {
    background: #f7f7f7;
}

.entry-content  table th,
.entry-content  table td {
    border: 1px solid #ccc;
    padding: 5px 8px;
    text-align: left;
}
