/* sticky */
.sticky {
    position: fixed;
    top: 0;
}
/* reset of style.css */

.side-area dt{padding:20px 15px 5px;font-size: 14px;}
.side-area{border-right: 1px solid #eee;}


/* other */
#content .doc-api {
    color: #784942;
}
#content .doc-api em, #content .doc-api code {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 14px;
    margin-left: 4px;
    color: #999;
    background: transparent;
    font-style: italic;
}
#content .md-iframe {
    position: relative;
    width: 100%;
    height:480px;

    margin:20px 0px;
    
}
#content .md-iframe iframe {
    width: 320px;
    height:100%;
    display: inline-block;
    border:1px solid #999;
}
#content .md-iframe .qrcode {
    display: inline-block;
    margin-left:50px;
}
#content .md-iframe .new-window {
    position: absolute;
    top: 30px;
    right: -40px;
    font-size: 12px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#content .highlight {
    background-color: transparent;
    padding-top: 1px;
    position: relative;
}
#content .collapse pre {
    overflow: hidden;
    height: 60px;
}
#content .highlight .code-toggle {
    position: absolute;
    top: -10px;
    right: 2px;
    font-size: 12px;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    color: #fff;
    line-height: 1;
}

.entry-content h1 a.anchor,
.entry-content h2 a.anchor,
.entry-content h3 a.anchor,
.entry-content h4 a.anchor,
.entry-content h5 a.anchor,
.entry-content h6 a.anchor {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    visibility: hidden;
}
.entry-content h1:hover a.anchor,
.entry-content h2:hover a.anchor,
.entry-content h3:hover a.anchor,
.entry-content h4:hover a.anchor,
.entry-content h5:hover a.anchor,
.entry-content h6:hover a.anchor {
    visibility: visible;
}

.entry-content  table th {
    background: #f7f7f7;
}

.entry-content  table th,
.entry-content  table td {
    border: 1px solid #ccc;
    padding: 5px 8px;
    text-align: left;
}


/* 列表样式 */
ul,
ol {
    margin-bottom: 20px;
}
ol li {
    list-style: outside decimal;
    margin-left: 40px;
}
ul li {
    list-style: outside square;
    margin-left: 40px;
}