<!DOCTYPE HTML>
<html lang="cn">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=37342703" charset="UTF-8"></script>
    <script src="http://i.gtimg.cn/vipstyle/frozenjs/lib/zepto.min.js"></script>

    <% if(category!="basic"){ %>
      <script src="http://i.gtimg.cn/vipstyle/frozenjs/1.0.0/basic-debug.js"></script>
    <% } %>
    
    <% _.forEach(srcs, function(item) { %>
      <script src="<%=root%><%=item%>"></script>
    <% }); %>

    <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/1.0.0/css/basic.css?_bid=256" />    
  </head>
  <body>

     <%=content%>

  </body>
</html>