<!DOCTYPE HTML>
<html lang="cn">
  <head>
    <meta charset="UTF-8">
    
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="http://127.0.0.1/vipstyle/frozenjs/lib/zepto.min.js"></script>
    <% if(category!="basic"){ %>
      <script type="text/javascript" src="http://127.0.0.1/vipstyle/frozenjs/1.0.0/basic-debug.js"></script>
    <% } %>
    
    <% _.forEach(srcs, function(item) { %>
      <script type="text/javascript" src="<%=root%><%=item%>"></script>
    <% }); %>

    <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/1.0.0/css/basic.css?_bid=256" />
    
    
  </head>
  <body>
    
     <%=content%>
      
  </body>
 
</html>
