<!DOCTYPE HTML>
<html lang="{{theme.lang}}">
  <head>
    <meta charset="UTF-8">
    
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="<%=root%>static/css/theme.css" />
    <link rel="stylesheet" href="<%=root%>static/css/solarized.css" />
    
  </head>
  <body>
    <div id="body-wrapper">
     
      <aside id="sidebar-wrapper">
        
        
        <ul id="navigation" role="navigation">
          
          <% _.forEach(navs, function(item) { %>

            <li><a href="<%=root%><%- item.url %>"> <%- item.title %> </a></li>
          <% }); %>
          
        </ul>
        
      </aside>
      
      <div id="content-wrapper">
        <div id="content">
          <article class="hentry">
            <h1 class="entry-title"></h1>
            <div class="entry-content">
              <%=content%>
            </div>
          </article>
         
        </div>
      </div>
      
    </div>
    <div id="footer-wrapper">
      <footer>
        
      </footer>
    </div>
  </body>
 
</html>
