<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://frozenui.github.io/static/style.css" />
    <link rel="stylesheet" href="http://frozenui.github.io/static/solarized.css" />
    <link rel="stylesheet" href="<%=root%>static/css/theme.css" />
    <script src="http://i.gtimg.cn/vipstyle/frozenjs/lib/zepto.min.js"></script>
    <script src="http://frozenui.github.io/static/layout.js"></script>
    <script src="<%=root%>static/js/theme.js"></script>
    <title></title>
  </head>
  <body>
    <div id="body-wrapper">
      <div class="head-area">

        <script type="text/javascript">
          write_header();
        </script>

      </div>
      <div class="main-area entry-content" id="content">
          <div class="side-area">
              
              <dl id="navigation" role="navigation">

                <% var nowCat="index" %>
                <% _.forEach(navs, function(item) { %>
                  <% var cat=item.url.split("/").length==1?"index" : item.url.split("/")[0]; %>
                  <% if(nowCat==cat){ %>
                    <% if(current==item.url){ %>
                      <dd class="side-highlight"><a href="<%=root%><%- item.url %>"> <%- item.title %> </a></dd>
                    <% }else{ %>
                    <dd><a href="<%=root%><%- item.url %>"> <%- item.title %> </a></dd>
                    <% } %>
                  <% }else{  %>
                    <% 
                      var name="基础";
                      if(cat=="effect"){ 
                        name="特效";
                      }
                      if(cat=="ui"){
                        name="UI";
                      }
                      nowCat=cat;
                    %>

                    <dt><%- name %></dt>
                    <% if(current==item.url){ %>
                      <dd class="side-highlight"><a href="<%=root%><%- item.url %>"> <%- item.title %> </a></dd>
                    <% }else{ %>
                    <dd><a href="<%=root%><%- item.url %>"> <%- item.title %> </a></dd>
                    <% } %>
                  <% }%>
                <% }); %>
                
              </dl>
          </div>
          
          <div class="content-area">
            <%=content%>
          </div>
          
      </div>
      <div class="footer-area">

        <script type="text/javascript">
          write_footer();
        </script>

      </div>
    </div>


<script>
  !function($) {
    $(window).on('load', function() {

      var nav = $('.side-area');
      var oldTop = nav.offset().top;
      
      $(document).on('scroll', function() {
        window.scrollY >= oldTop ? 
              nav.addClass('sticky') :
              nav.removeClass('sticky');
      });
    })
  }(Zepto);
</script>
</body>
</html>